/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header {
  font-family: 'Titillium Web', sans-serif;
  font-family: "Titillium-Regular",sans-serif;
  padding-top: 20px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.header h1.title {
  display: inline-block;
  /*margin-bottom: 2em;*/
  font-size: 64px;
}

.header h1.title a {
  color: #000;
}
.header h1 i {
  color:#aaa
}

.header h1.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
  border-bottom: 4px solid rgb(238, 238, 238);
}

.header a.extra:hover {
  color: #000;
  border-bottom: 4px solid rgb(0, 0, 0);
}

nav {
  float: right;
  margin: 5px 0 0 0;
}

nav a {
  display: inline-block;
  padding-bottom:2px;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 1px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}


      body {
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
	  .muted {
			font-family: 'Titillium Web', sans-serif;
			/*font-family: "Titillium-Regular",sans-serif;*/
			font-size: 32px;
			font-weight: bold;
			font-style: normal;
			text-decoration: none;
			color:#000;
	  }
	  .muted .headtitle {
		font-size:50px;
	  }
	  .tophead {
		background-color:#E0E0E0;
		padding-bottom:10px;
		position: fixed;
	  }
	  .highlight {
		color:#A8A8A8;
	  }
	  .nav {
		padding-top: 10px;
		}
		.nav a {
			color: white;
		}

	.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
		color: #ffffff;
		background-color: #c0c0c0;
	}
.mainbody {
padding-top:80px;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #c0c0c0;
}

.personalpic {
	float: left;
}