<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Regular' rel='stylesheet' type='text/css'>
    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="row-fluid tophead">
		<div class="span12">
			<div class="container-narrow">
			  <div class="masthead header">
				<ul class="nav nav-pills pull-right">
				  <li class="active"><a href="/index.html">Home</a></li>
				  <li><a href="/about.html">About</a></li>
				</ul>
				<span class="personalpic"><img src="/images/brent.png" alt="Brent Berger"/>&nbsp;</span>
				<h3 class="muted"><span class="headtitle">{{ site.name }}</span><span class="highlight">&nbsp;<i class="icon-code">&nbsp;</i></span></h3>
			  </div>
		  </div>
	  </div>
	</div>
	<div class="container-narrow mainbody">
		<p class="lead">
		{{ content }}
		</p>

      <div class="footer">
		  <div class="contact">
			<p>
			  Brent Berger<br />
			  Software Developer
			</p>
		  </div>
		  <div class="contact">
			<p>
			  <i class="icon-github"></i>&nbsp;<a href="http://github.com/bergerb/">github.com/bergerb</a><br />
			  <i class="icon-twitter"></i>&nbsp;<a href="http://twitter.com/bergerb/">twitter.com/bergerb</a><br />
			</p>
		  </div>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42285689-1', 'bergerb.github.io');
	  ga('send', 'pageview');

	</script>
  </body>
</html>